

/* NUEVOOOOOOOO
--------------------------------------------------------------*/

#navigation {
	margin:0px;
	padding:0px;
	text-indent:0px;
}
#navigation a.head {
	cursor:pointer;
	border:1px solid #136EB4;
	background:#EDF8FF;
	color:#000;
	display:block;
	font-weight:bold;
	margin:0px;
	padding:2px;
	padding-left:10px;
	height:15px;
	vertical-align: middle;
	text-indent:14px;
	text-decoration: none;
}
#navigation a.head:hover {
	color:#136EB4;
}
#navigation a.selected {
	background-image: url(expanded.gif);
}
#navigation a.current {
	background-color:#FFFF99;
}
#navigation ul {
	border-width:0px;
	margin:0px;
	padding:0px;
	text-indent:0px;
}
#navigation li {
	list-style:none outside none; display:inline;
	height:15px;
	margin:1px;
	vertical-align: middle;
}
#navigation li li a {
	color:#000000;
	display:block;
	text-indent:10px;

	height:15px;
	vertical-align: middle;
	text-decoration: none;
}
#navigation li li a:hover {
	color:#FFF;
}

.basic  
{
    margin-top: 10px;
    padding:10px;
	width: 180px;
	font-family: verdana;
	font-size:9px;
	background-color:#136EB4;
	border: 1px solid black;
}

div#TagCloud
{
    margin-top: 40px;
    width:180px;
}

.tag
{
    float:left; 
    margin:2px;
}